.TaskItem-container{
    margin:5px;
}

.TaskItem-dimmed {
    opacity: 0.5;
    text-decoration: line-through;
}

.TaskItem-controls {
    display: inline;
    margin: 10px;
}

.TaskItem-controls Button{
    margin: 0 2px;
}

.Task-text{
    display: inline;
}
