Header {
    padding: 10px;
    font-size: calc(10px + 2vmin);
}

.content {
    padding: 0 25px;
    margin-top: 5px;
}

.content-container {
    background-color: #171717;
    padding: 12px;
    border-radius: 8px;
    margin-top: 5px;
}

.input-container {
    margin: 10px 5px;
}

.settings td, .settings th {
    border: solid 1px #4b4b4b;
    padding: 5px;
}

@media only screen and (max-width: 1000px) {
    .content {
        padding: 0;
    }
}
