Header {
    padding: 10px;
    font-size: calc(10px + 2vmin);
}

.layout-content {
    padding: 24px;
}

.input-container {
    margin: 10px;
}

.settings td{
    border: solid 1px #4b4b4b;
    padding: 5px;
}
